html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Saira', sans-serif !important;
}

body::before {
  z-index: -1;
  content: "";
  background: black url("../resources/matthijs-smit-bRG2C0FAQEY-unsplash.jpg") no-repeat center center !important;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: fixed;
  filter: brightness(40%) saturate(0%);
}

#app {
  height: 100vh;
}

#drum-machine {

  #drum-machine-row {
    background-color: rgba(24, 24, 24, 0.85);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.75);
    border-radius: 5%;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 650px;

    #btn-container {
      min-width: 350px !important;
      max-width: 350px !important;

      .row {

        .col {
          padding: 0;
          flex: 0 !important;

          button {
            width: 100px;
            height: 100px;
            padding: 0;
            background-color: goldenrod;
            border: 1px black;
            border-radius: 100%;
            font-weight: 700;
            text-shadow: 0 0 5px white;
            background: rgb(187,146,55);
            background: radial-gradient(circle, rgba(187,146,55,1) 0%, rgba(128,106,47,1) 20%, rgb(173, 139, 65) 51%, rgb(65, 50, 20) 100%);  
          }
        }
      }
    }

    #misc-container {
      min-width: 300px !important;
      max-width: 300px !important;

      .container {

        #display {
          background-color: grey;
          text-align: center;
          width: 150px;
          font-weight: 500;
        }

        #volume {
          width: 150px;
        }

        #volumeDisplay {
          background-color: grey;
          text-align: center;
          width: 40px;
          margin-left: 10px;
        }
      }
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(24, 24, 24, 0.85);
  color: lightgrey;
  font-weight: 500;

  a {
    text-decoration: none;
    color: gold;
    text-shadow: 0 0 5px goldenrod;
  }
  
  a:hover {
    color: goldenrod;
  }
}


.flipAnim {
  -webkit-animation: flip 0.1s ease 0s 1 normal;
  animation: flip 0.1s ease 0s 1 normal;
}

@media (max-width: 768px) {
  #drum-machine-row {
    max-width: 350px !important;
    min-height: 500px !important;
  }

  #btn-container {
    min-width: 350px !important;
    max-width: 350px !important;

    button {
      width: 75px !important;
      height: 75px !important;
    }
  }
}

@keyframes flip {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(120deg);
  }
}